<!-- begin contact -->
<div class="contact js-contact">
	<div class="contact__inner inner">
		<div class="contact__wrap">
			<!-- begin contact__col -->
			<div class="contact__col">
				<h2 class="contact__title title-md">Say <span>Hello</span></h2>
				<div class="contact__text">Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)</div>
				<div class="contact__soc soc">
					<div class="soc__col">
						<a href="tel:+4165550000" class="soc__item">
							<span class="soc__icon">{{mixins.icon('call')}}</span>
							<span class="soc__value">(416) 555-0000</span>
						</a>
						<a href="#" class="soc__item">
							<span class="soc__icon">{{mixins.icon('twiter')}}</span>
							<span class="soc__value">@escape</span>
						</a>
						<a href="#" class="soc__item">
							<span class="soc__icon">{{mixins.icon('google')}}</span>
							<span class="soc__value">plus.com/escape</span>
						</a>	
					</div>
					<div class="soc__col">
						<a href="mailto:hello@escape.com" class="soc__item">
							<span class="soc__icon">{{mixins.icon('email')}}</span>
							<span class="soc__value">hello@escape.com</span>
						</a>
						<a href="#" class="soc__item">
							<span class="soc__icon">{{mixins.icon('facebook')}}</span>
							<span class="soc__value">facebook.com/escape</span>
						</a>
						<a href="#" class="soc__item">
							<span class="soc__icon">{{mixins.icon('pinterest')}}</span>
							<span class="soc__value">pinterest.com/escape</span>
						</a>
					</div>
				</div>
			</div>
			<!-- end contact__col -->
			<!-- begin contact__col -->
			<div class="contact__col">
				<div class="contact__form form">
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Your Name *">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Your E-mail *">
					</div>
					<div class="form__field">
						<textarea name="message" id="" rows="12" placeholder="Your Message *" class="form__textarea"></textarea>
					</div>
				</div>
			</div>
			<!-- end contact__col -->
		</div>	
	</div>
</div>
<!-- end contact -->