<!-- begin hero -->
<div class="hero">
	<!-- begin hero__wrap -->
	<div class="hero__wrap js-slider">
		<div class="hero__item" style="background-image: url(img/image-bg.jpg)">
			<div class="hero__inner inner">
				<h3 class="hero__subtitle title-sm">Can you build the website of my dreams?</h3>
				<h1 class="hero__title title-lg">Yup, we can do that.</h1>
				<div class="hero__button  js-btn">
					<button class="btn">Learn More</button>
				</div>
			</div>
			
		</div>
		<div class="hero__item" style="background-image: url(img/image-bg.jpg)">
			<div class="hero__inner inner">
				<h3 class="hero__subtitle title-sm">Can you build the website of my dreams?</h3>
				<h1 class="hero__title title-lg">Yup, we can do that.</h1>
				<div class="hero__button js-btn">
					<button class="btn">Learn More</button>
				</div>
			</div>
			
		</div>
		<div class="hero__item" style="background-image: url(img/image-bg.jpg)">
			<div class="hero__inner inner">
				<h3 class="hero__subtitle title-sm">Can you build the website of my dreams?</h3>
				<h1 class="hero__title title-lg">Yup, we can do that.</h1>
				<div class="hero__button js-btn">
					<button class="btn">Learn More</button>
				</div>
			</div>
			
		</div>
	</div>
	<!-- end hero__wrap -->
	<!-- begin modal -->
	<div class="modal js-modal">
		<a href="#" class="modal__icon js-close"></a>
	</div>
	<!-- end modal -->
</div>
<!-- end hero -->
