<!-- begin team -->
<div class="team js-team">
	<div class="team__inner inner">
		<h2 class="team__title title-md">Amazing <span>Team</span></h2>
		<h4 class="team__subtitle title-xs">These wonderful people make work enjoyable.</h4>
		<div class="members">
			<div class="members__item">
				<a href="#" class="members__photo"></a>
				<div class="members__name">Kimberly Thompson</div>
				<div class="members__position">Marketer</div>
				<div class="members__soc-icons">
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('twiter')}}</a>
					</div>
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('facebook')}}</a>
					</div>
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('pinterest')}}</a>
					</div>		
				</div>		
			</div>
			<div class="members__item">
				<a href="#" class="members__photo"></a>
				<div class="members__name">Rico Massimo</div>
				<div class="members__position">Coder</div>
				<div class="members__soc-icons">
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('twiter')}}</a>
					</div>
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('facebook')}}</a>
					</div>
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('google')}}</a>
					</div>			
				</div>		
			</div>
			<div class="members__item">
				<a href="#" class="members__photo"></a>
				<div class="members__name">Uku Mason</div>
				<div class="members__position">Graphic Designer</div>
				<div class="members__soc-icons">
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('facebook')}}</a>
					</div>	
					<div class="members__soc-item">
						<a href="#" class="members__soc-icon">{{mixins.icon('pinterest')}}</a>
					</div>			
				</div>		
			</div>
		</div>
		<div class="team__text">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</div>
	</div>
</div>
<!-- end team -->